/.idea/**
*.pyc
*.c
/test.py
/setup.py
/build_sites.py
/build/**
/venv/**
/cloudflarespeedtest/**
.python-version
.vscode/
Dockerfile-dev
config/sites.json
nastools_test.py
/node_modules/**
package-lock.json
package.json